/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #3d3d3d;
}