#paper {
    background-image: url('../../assets/paperImage.jpg');
    float: right;
    border: 1px groove #0e0e0e;
    width: 350px;
    height: 500px;
    overflow: scroll;
    padding-top: 3%;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
}